networks:
  xqwke:
    external: true

x-common: &common
  env_file: .env
  volumes:
    - './storage:/app/storage'
  restart: unless-stopped
  networks:
    - xqwke
  dns:
    - 8.8.8.8
    - 8.8.4.4

services:
  telegram:
    <<: *common
    image: docker.xqwke.com/mp3-uploader/telegram:latest
    container_name: mp3-uploader-telegram

  api:
    <<: *common
    image: docker.xqwke.com/mp3-uploader/api:latest
    container_name: mp3-uploader-api
    #ports:
    #  - "8000:8000"

  nginx:
    image: nginx:alpine
    container_name: mp3-uploader-nginx
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./storage:/app/storage:ro
    restart: unless-stopped
    networks:
      - xqwke
    #ports:
    #  - "80:80"