name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build --platform linux/amd64 -f docker/base/Dockerfile -t ${{ vars.DOCKER_REGISTRY }}/mp3-uploader/base:latest .
          docker build --platform linux/amd64 -f docker/api/Dockerfile -t ${{ vars.DOCKER_REGISTRY }}/mp3-uploader/api:latest .
          docker build --platform linux/amd64 -f docker/telegram/Dockerfile -t ${{ vars.DOCKER_REGISTRY }}/mp3-uploader/telegram:latest .
          docker push ${{ vars.DOCKER_REGISTRY }}/mp3-uploader/base:latest
          docker push ${{ vars.DOCKER_REGISTRY }}/mp3-uploader/api:latest
          docker push ${{ vars.DOCKER_REGISTRY }}/mp3-uploader/telegram:latest

      - name: Pull new images
        run: |
          cp docker-compose.yml ${{ vars.PATH }}/docker-compose.yml
          cd ${{ vars.PATH }}
          docker compose pull

      - name: Start updated containers
        run: |
          cd ${{ vars.PATH }}
          docker compose down
          docker compose up -d --remove-orphans

      - name: Cleanup old Docker images
        run: docker image prune -af || true
